/* Тут пиши основные стили */
.title-1 {
    font-size: 42px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    width: 700px;
    margin: 55px auto 10px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 44px;
}

.article {
    font-size: 21px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    width: 700px;
    margin: 0 auto 0;
    padding: 0;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 33px;
}

.article p {
    margin: 0;
    padding: 0;
}

.image {
    margin: 43px auto 37px;
}

.article code {
    background-color: lightgray;
    font-family: "Courier New", monospace;
}

.title-2 {
    font-size: 34px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    width: 700px;
    margin: 55px auto 10px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 39px;
}


.header {
    background-color: #f3eeee;
    padding: 10px 0;
    
    /*list-style: none;*/
    margin: 0 -10px;
    
    text-align: left;
    font-size: 20px;
    list-style-type: none;
    border: 1px solid black;
}
.header li {
    display: inline-block;
    margin: 0;
}

.header li + li {
    margin-left: 30px;
}
.header li:hover{
    text-decoration: underline;
}
.header .active {
    color: red;
}
.header li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .header {
        padding: 10px;
        font-size: 20px;
        /*list-style: none;*/
        list-style-type: none;
    }

    .header li {
        display: block;
        margin: 10px -10px;
    }

    .header .hovered {
        text-decoration: underline;
    }

    .header .active {
        color: red;
    }

    .header li a {
        text-decoration: none;
        color: black;
    }

    .title-1 {
        font-size: 26px;
        line-height: 28px;
        width: 520px;
        margin: 25px auto 20px;
    }

    .title-2 {
        font-size: 22px;
        line-height: 39px;
        width: 520px;
        margin: 25px auto 6px;
    }

    .article {
        font-size: 18px;
        line-height: 22px;
        width: 520px;
    }

    .image {
        width: 75%;
        height: 75%;
        margin: 43px auto 37px;
    }
}