/* Тут пиши основные стили */
.title-1 {
    font-size: 42px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    width: 700px;
    margin: 55px auto 10px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}

.article {
    font-size: 21px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    width: 700px;
    margin: 0 auto 0;
    padding: 0;
    color: rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
}

.image {
    margin: 43px auto 37px;
}

.article code {
    background-color: lightgray;
    font-family: "Courier New", monospace;
}

.title-2 {
    font-size: 34px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    width: 700px;
    margin: 55px auto 10px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
}


.header {
    background-color: #d6d1d1;
    padding: 10px;
    /*list-style: none;*/
    text-align: left;
    
    list-style-type: none;
}
.header li {
    display: inline-block;
    margin: 0 10px;
}
.header li:hover{
    text-decoration: underline;
}
.header .active {
    color: red;
}
.header li a {
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .header {
        background-color: #d6d1d1;
        padding: 10px;

        /*list-style: none;*/
        list-style-type: none;
    }
    .header li {
        display: block;
        margin: 10px -30px;
    }
    .header .hovered {
        text-decoration: underline;
    }
    .header .active {
        color: red;
    }
    .header li a {
        text-decoration: none;
        color: black;
    }
}